<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="About" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">About SpectraPlot</h4>
      </div>
      <div class="modal-body text-left">
      <p> SpectraPlot Ltd. is a 501(c)(3) non-profit organization.  Our mission is twofold: 1) to strengthen the spectroscopy community and 2) to organize the photonics industry's information for spectroscopists.</p>
      <p>To achieve these goals, Spectraplot offers integrated search tools for wavelength-dependent data (including spectral simulators and hardware listings) organized around function and use.  These tools are aimed to accelerate spectroscopic and optical engineering and to remove transactional friction in the photonics industry. We hope you will join us in this mission by simply using our tools. If you are a vendor interested in either supporting SpectraPlot or including your catalogue on the site, get in touch with us at <a href="mailto:info@spectraplot.com">info@spectraplot.com</a>.  A couple FAQs are addressed below.</p>
      <h4>Q. But really, what is SpectraPlot?</h4>
      <p>A. SpectraPlot is a free, openly-available tool for scientists and engineers to simulate spectroscopic data and find the hardware you need to put spectroscopy into practice.  SpectraPlot is an ongoing project, and we'll continue to add tools, databases, and calculators that benefit the science and engineering communities that advance and leverage spectroscopy.</p>
      <h4>Q. Who are you?</h4>
      <p>A. SpectraPlot was conceived and built by 4 PhDs who specialize in ultra-violet, near- and mid-infrared spectroscopic gas sensing and imaging techniques: <a href="http://spectrum.seas.ucla.edu/" target="_blank">Prof. Mitchell Spearrin of UCLA</a>, <a href="http://www.goldensteingroup.com/" target="_blank">Prof. Chris Goldenstein of Purdue</a>, <a href="https://www.linkedin.com/in/christopher-strand-5bbb25103" target="_blank">Dr. Christopher Strand at Stanford</a>, and <a href="https://www.linkedin.com/in/victor-miller-976b8416" target="_blank">Dr. Victor Miller</a>.</p>
      <h4>Q. Can I get some details on how this works and what assumptions are made in the simulation?</h4>
      <p>A. Yep!  Check out our paper in <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">JQSRT</a> or <a href="https://arxiv.org/abs/1709.06220" target="_blank">arXiv</a>.  Additionally, check out the <a href="http://www.hitran.org" target="_blank">HITRAN</a> and <a href="https://www.nist.gov/pml/atomic-spectra-database" target="_blank">NIST</a> websites for more information about the databases we use.  
      </div>
    </div>
  </div>
</div>