<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">SpectraPlot Contact</h4>
      </div>
      <div class="modal-body text-center">
      <iframe src="https://docs.google.com/forms/d/14NoSj-F0s2qBXNy-1z9fepdPsMJs47ZYivNRGmE55oI/viewform?embedded=true" width="550" height="717" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
</div>