svg {
  font: 14px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.line {
	fill: none;
	stroke-width: 1.5px;
	clip-path: url(#clip);
	}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line { 
  stroke: #000;  
  fill: none;
  stroke-width: 1px;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
