

table.FrontPanel td {
  font-size:10pt;
text-align: right;
padding-right:7px;
padding-left:7px;
padding-top:3px;
padding-bottom:1px;
}

table.nistTable a {text-decoration:underline;}

table.nistTable td {
  font-size:10pt;
text-align: left;
padding-right:1px;
padding-left:1px;
padding-top:1px;
padding-bottom:1px;}