<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
    <span style="font-size:14pt;font-weight:bold;color: #ff0000;">For more details, check out <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">our paper</a> in JQSRT.</span>
        <h3>The Basics</h3>
        <p>You can run up to 3 simulations, each with 3 species (for a total of 9), before you must clear the plot.</p>
        <p>All simulations assume a binary mixture of the absorbing/emitting species in air.</p>
        <p>Absorption simulations are performed using the HITRAN 2012 and HITEMP 2010 databases.  Information on HITRAN and HITEMP can be found <a href="http://www.cfa.harvard.edu/hitran/" target="_blank">here</a></p>
        <p>HITEMP simulations take much longer to run than HITRAN simulations, so please choose your simulation window wisely.</p>
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
        <br>
        <h3>The Details</h3>
        <p>Absorbance is defined using Beer's Law: I/I<sub>o</sub> = exp(-&alpha;) = exp(-n&sigma;L).</p>
        <p>CO<sub>2</sub> and H<sub>2</sub>O HITEMP simulations exclude all lines with linestrengths less than 10<sup>-50</sup> cm<sup>-1</sup>/(molecule-cm<sup>-2</sup>).</p>
        <p>A Voigt lineshape is used when the Lorentzian-to-Doppler width ratio (L/D) is from 0.01 to 100. Gaussian and Lorentzian lineshapes are used when L/D &lt; 0.01 and &gt; 100, respectively.</p>
        <p>The power-law model, Y(T) = Y(T<sub>o</sub>)(296/T)<sup>n</sup> with T<sub>o</sub> = 296 K, is used to model the temperature dependence of all broadening- and pressure-shift coefficients. For all transitions, the exponent, n, is set equal to 0.75 and 0.96 for the self-broadening and air-pressure-shift coefficients, respectively.</p>
        <p>At temperatures above 3000 K, the partition function of the absorbing species is obtained from linearly extrapolating the data given in HITRAN 2008 from 70 to 3000 K.</p>
        <p>The simulation width (wing<sub>eval</sub>) for all absorption features is 4*P cm<sup>-1</sup>.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>