{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="/static/plotting.js?nist2"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54931830-1', 'auto');
  ga('send', 'pageview');
</script>

 <body id="page-top" class="index">
 {% include 'navigation.html' %}
 {% include 'alerts.html' %}  
  <section>
    <div class="container-fluid">
    <div class="row col-xs-12">
      <div role="tabpanel" style="margin-top:10px;">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-bottom:20px;font-size:12pt;">
          <li role="presentation" class="{% if request.cookies.get('DBpanel')=='hitran' %} active {% elif request.cookies.get('DBpanel')!='nist' %} active {% endif %}"> <a href="#hitran" aria-controls="hitran" role="tab" data-toggle="tab" onclick="$.cookie('DBpanel','hitran')" style="color:red;"><b>HITRAN/HITEMP</b></a>
          </li>
          <li role="presentation" class="{% if request.cookies.get('DBpanel')=='nist' %} active {% endif %}"> <a href="#nist" aria-controls="nist" role="tab" data-toggle="tab" onclick="$.cookie('DBpanel','nist')" style="color:blue;"><b>NIST ASD</b></a>
          </li>
        </ul>

        <div class="tab-content">
          {% include 'hitran_panel.html' %}
          {% include 'nist_panel.html' %}
        </div>  <!-- tab content -->
      </div>  <!-- tab panel -->
    </div>  <!-- row -->
		
      
		
		  <div class="row col-xs-12"><!-- the horizontal ruler-->
        <div class="col-xs-12"><hr></div>	
		  </div> <!-- row -->

    </div> <!-- container -->
  </section>	<!-- end of the top part - above the plot -->		

	<section>	
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div class="col-xs-2 col-xs-offset-1 text-left" id="topofplot">
          <input type="checkbox" name=autoscaleY id="autoscaleY"> Autoscale Y 
        </div>
        <div class="col-xs-5 col-xs-offset-1 text-left">
        </div>
        <div class="col-xs-2" >
          <button class="btn btn-primary" id="data" style="width:170px;">Save to CSV</button>
          <div id="downloaddiv"></div>
        </div>
      </div>
    
      <div class="row col-xs-12">
        <div class="col-xs-4 col-xs-offset-1 text-left">
          <input type="checkbox" name="fixY" id="fixY"> Fix Y max &nbsp; <input type="text" value=1 size=4 name="fixYval" id="fixYval">
        </div>
        <div class="col-xs-2 col-xs-offset-4" >
          <button class="btn btn-primary" id="save_as_png" style="width:170px;">Save to PNG</button>
        </div>
      </div>
	
		
		
      <div class="row col-xs-12">
        <div class="col-lg-8"><!--This is where the chart goes-->
				  <div id="chart"></div>
        </div>
      
        {% include 'wavelengthTable.html' %}	
      
      </div> <!-- row -->	
			
      {% include 'footer.html' %}		
	
    </div> <!-- container -->
	</section>

{% include 'absorption_modal.html' %}  
{% include 'absorption_modal_NIST.html' %}  

</body>
 
{% endblock %}