<div class="modal fade" id="nistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
      <span style="font-size:14pt;font-weight:bold;color: #ff0000;">For more details, check out <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">our paper</a> in JQSRT.</span>
        <h3>The Basics</h3>
        <p>You can run up to 3 simulations, each with 3 species (for a total of 9), before you must clear the plot.</p>
        <p>Absorption simulations of atomic spectra are performed using the NIST Atomic Spectra Database (ASD). Information on NIST’s ASD can be found <a href="http://www.nist.gov/pml/data/asd.cfm" target="_blank">here</a></p>
        <p>All wavelengths and frequencies correspond to vacuum values.</p>
        <p>Unique to SpectraPlot and NIST simulations, we require the user to specify an electronic temperature, T<sub>elec</sub>, and a kinetic temperature, T, which is used to calculate the number density of the gas and the Doppler width.  T<sub>elec</sub> is used to calculate the electronic partition function, the population in the absorption state, and the transition linestrength. If the gas is in equilibrium, T<sub>elec</sub> should be set equal to T. </p>
        <p>NIST’s ASD does not provide collisional-broadening coefficients for any transitions. However, γ(To) and its temperature exponent, n, can be specified by the user. More information is provided below.</p>
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
        <br>
        <h3>The Details</h3>
        <p>Absorbance is defined using Beer's Law: I/I<sub>o</sub> = exp(-&alpha;) = exp(-n&sigma;L).</p>
        
        <p>Spectra for ionization levels greater than X<sup>2+</sup> (e.g., Na<sup>3+</sup>) are not provided in SpectraPlot, but spectroscopic parameters for ionization states greater than 2+ are available from NIST in most cases. </p>
        
        <p>If γ(T<sub>o</sub>)  and n are specified by the user, γ is calculated at the user-specified temperature and applied to all transitions in the simulation range according to: γ (T) = γ (T<sub>o</sub>)(296/T)<sup>n</sup> with T<sub>o</sub> = 296 K.  γ(T) is the collisional-broadening coefficient of the mixture and defined according to: Δv<sub>c</sub>=2Pγ(T) where Δv<sub>c</sub> is the collisional (i.e., Lorentzian) full-width at half-maximum in units of cm<sup>-1</sup> and P is the gas pressure in units of atm. </p>

        <p>A Voigt lineshape is used when the Lorentzian-to-Doppler width ratio (L/D) is from 0.01 to 100. Gaussian and Lorentzian lineshapes are used when L/D &lt; 0.01 and &gt; 100, respectively.</p>
        
        <p>The electronic partition function, Q<sub>elec</sub>, is calculated at the user-specified electronic temperature, T<sub>elec</sub>, according to the energy levels and degeneracies provided by NIST’s ASD. If the degeneracy of a particular state is not given by NIST, an arbitrary degeneracy of 3 is used for that level in the partition sum. At T<sub>elec</sub> > 10 million Kelvin, Q<sub>elec</sub> is linearly extrapolated from a look-up table calculated by Team SpectraPlot from 0.1 Kelvin to 100 million Kelvin.</p>

        <p>The simulation width (wing<sub>eval</sub>) for all absorption features varies as a function of pressure.  For pressures less than 0.5 atm, wing<sub>eval</sub> = 2 cm<sup>-1</sup>.  For pressures between 0.5 and 5 atm, wing<sub>eval</sub> = 10*P cm<sup>-1</sup>, and for pressures greater than 5 atm, wing<sub>eval</sub> = 50 cm<sup>-1</sup>.</p>
        <p>Please consult the <a href="http://www.nist.gov/pml/data/asd.cfm" target="_blank">NIST ASD website</a> for proper bibliographic sources and references.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>