
<!-- alerts!! -->
<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="alertDiv">
  <button type="button" class="close" onclick="$('.calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#alertDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Sorry!</strong> Something went wrong with the calculation!  
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="timeoutDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#timeoutDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Sorry!</strong> Your simulation took too long.  Reduce your simulation range or increase &#916;&#957;. 
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="reduceDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#reduceDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Sorry!</strong> We reduced your resolution &#957;<sub>step</sub> to reduce compute time.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="molefracDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#molefracDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Every mole fraction must be less than 1!</strong> See "How it works" for an explanation of how mixtures are handled.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="molefracSurveyDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#molefracSurveyDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Mole fractions should be less than 1!</strong> In the LineSurvey, mole fractions are used to scale linestrength.
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="simrangeDiv">
  <button type="button" class="close" onclick="$('#simrangeDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>You're simulating a big range.</strong> For surveys, we recommend using the <a href="/survey">LineSurvey</a> tool.
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="notinfraredDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#notinfraredDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Your wavelength is quite short!</strong> Check the HITRAN documentation to see if visible/UV lines are included for this species.
</div>


<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="reduceLinesDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#reduceLinesDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Not all of your lines were plotted, sorry!</strong> Either reduce your simulation window or increase the Linestrength cutoff.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="toobigDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#toobigDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Your simulation range is too big, Sorry!</strong> We can only simulate 3000 cm<sup>-1</sup> at a time.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="toobigAbsEmisDiv">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#toobigAbsEmisDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Your simulation range is too big, Sorry!</strong> We can only simulate 100 cm<sup>-1</sup> at a time.
</div>

<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="surveyZeroCutoff">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#surveyZeroCutoff').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Sorry!</strong>  Your minimum linestrength must be greater than 1e-10!
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="n2hitran">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#n2hitran').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>It looks like you're simulating N<sub>2</sub> with a relatively short pathlength.</strong>  N<sub>2</sub> is only weakly infrared active.  Make sure you double check how mixtures are calculated, described in the <a data-toggle="modal" data-target="#myModal">How It Works</a>.
</div>

<div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="einsteinA">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#einsteinA').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Some lines for <span id="alertSpec"></span> in your simulation have estimated line strengths.</strong>  The NIST database does not have all of the Einstein A coefficients for these species in this spectral window, so we estimate line strengths using A=10<sup>7</sup> s<sup>-1</sup>.  Please use the <a href="/survey">LineSurvey</a> tool to explore in more detail.  
</div>
<div class="alert alert-danger alert-dismissible" role="alert" hidden="true" id="badspecies">
  <button type="button" class="close" onclick="$('#calculate').button('reset');$('#calculate_nist').button('reset');$('#calculate_hitran').button('reset');$('#badspecies').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>HITEMP CO<sub>2</sub> and H<sub>2</sub>O have a lot of lines!</strong> Please reduce your simulation window to less than 1000 cm<sup>-1</sup>.  Web browsers have a hard time plotting that much data, and the database queries can take a while.
</div>

