<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
      	<h3>The Basics</h3>
        <p>You can run up to 4 black body simulations before you must clear the plot.</p>
        <p>Black body curves are calculated with 0.01 &mu;m resolution</p>
        <p>The integrated radiance for the current view is displayed in the legend, and these values are recalculated when the bottom plot is used to pan and zoom.</p>
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>