{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="/static/plottingBlackBody.js?nist"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54931830-1', 'auto');
  ga('send', 'pageview');
</script>
<body id="page-top" class="index">
  {% include 'navigation.html' %}
  {% include 'alerts.html' %}  
  <section>
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div class="col-xs-3 col-xs-offset-1 text-left" style="margin-top:-5px;"><h4>Blackbody Emission</h4></div>
      </div>
		  <div class="row col-xs-12">
        <div class="col-xs-12 text-center">
          <table align="center" class="FrontPanel" style="table-layout: fixed;">
            <tr>
              <td style="width:160px text-align:right;">T (K) = <input type=text size=5 name=T value=300 tabindex=1></td>
              <td style="width:190px;">&lambda;<sub>start</sub> (&mu;m) = <input type=text size=5 name=lambdastart value=.5 tabindex=3></td>
              <td style="width:20px; text-align:center;">or</td>
              <td style="width:190px;">&#957;<sub>start</sub> (cm<sup>-1</sup>) = <input type=text size=6 name=vstart value=100000 tabindex=5></td>
              <td style="width:75px;">&nbsp;</td>
              <td style="width:180px;"><button class="btn btn-danger" data-loading-text="Calculating..." id="calculate">Calculate</button></td>
            </tr>
            <tr>
              <td style="text-align:right;">&epsilon; = <input type=text size=5 name=e value=1 tabindex=2></td>
              <td>&lambda;<sub>end</sub> (&mu;m) = <input type=text size=5 name=lambdaend value=3 tabindex=4></td>
              <td></td>
              <td>&#957;<sub>end</sub> (cm<sup>-1</sup>) = <input type=text size=6 name=vend value=2000 tabindex=6></td>
              <td>&nbsp;</td>
              <td><button class="btn btn-primary" id="clear">Clear plot</button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>&nbsp;</td>
              <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">How it works</button></td>
            </tr>
          </table>
        </div>
      </div>

		  <div class="row col-xs-12">
        <div class="col-xs-12"><hr></div>	
		  </div> <!-- row -->
    </div> <!-- container -->
  </section>	<!-- end of the top part - above the plot -->		

	 <section> 
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div class="col-xs-2 col-xs-offset-1 text-left" id="topofplot">
          <input type="checkbox" name=autoscaleY id="autoscaleY"> Autoscale Y 
        </div>
        <div class="col-xs-5 col-xs-offset-1 text-left">
        </div>
        <div class="col-xs-2" >
          <button class="btn btn-primary" id="data" style="width:170px;">Save to CSV</button>
          <div id="downloaddiv"></div>
        </div>
      </div>
    
      <div class="row col-xs-12">
        <div class="col-xs-4 col-xs-offset-1 text-left">
          <input type="checkbox" name="fixY" id="fixY"> Fix Y max &nbsp; <input type="text" value=1 size=4 name="fixYval" id="fixYval">
        </div>
        <div class="col-xs-2 col-xs-offset-4" >
          <button class="btn btn-primary" id="save_as_png" style="width:170px;">Save to PNG</button>
        </div>
      </div>
    
    
				
		  <div class="row col-xs-12">
        <div class="col-lg-8">
          <div id="chart"></div>
        </div>
        {% include 'wavelengthTable.html' %}	
      </div> <!-- row -->	
			{% include 'footer.html' %}		
    </div> <!-- container -->
  </section>

{% include 'blackbody_modal.html' %}  

</body> 
{% endblock %}