<div class="modal fade" id="nistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
      <span style="font-size:14pt;font-weight:bold;color: #ff0000;">For more details, check out <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">our paper</a> in JQSRT.</span>
        <h3>The Basics</h3>
        <p>You can run up to 3 simulations, each with 3 species (for a total of 9), before you must clear the plot.</p>
        <p>L corresponds to the thickness of the slab of gas</p>
        <p>All wavelengths and frequencies correspond to vacuum values.</p>
        <p>Emission simulations are calculated using the NIST ASD databases and Kirchhoff's Law.  Information on the NIST ASD can be found <a href="http://www.nist.gov/pml/data/asd.cfm" target="_blank">here</a></p>
        <p>Please see the "How It Works" on the NIST ASD absorption simulator for more information regarding how atomic spectra are modeled.</p>
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
        <p>Please consult the <a href="http://www.nist.gov/pml/data/asd.cfm" target="_blank">NIST ASD website</a> for proper bibliographic sources and references.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>