{% include 'footer/terms.html' %}  
{% include 'footer/about.html' %}
{% include 'footer/contact.html' %}

		<div class="row col-xs-12">
			<div class="col-xs-12" align="right">
				 <a style="color: #171c68;" href="#" data-toggle="modal" data-target="#TOS">Terms</a>
			</div>
		</div>

		<div class="row col-xs-12">
			<div class="col-xs-12" align="right">
				<a style="color: #171c68;" href="#about" data-target="#about" data-toggle="modal">About</a>
			</div>
		</div>	
		{% if request.path=="/" %} 
		{% else %}
		
		{% endif %}					
		<div class="row col-xs-12">
			<div class="col-xs-12" align="right">
				<!--<a href="#feedback" data-target="#feedback" data-toggle="modal">Contact</a>-->
				<a style="color: #171c68;" href="mailto:info@spectraplot.com">Contact</a>
			</div>
		</div>		
		<div class="row col-xs-12">
			<div class="col-xs-12" align="right">
				 2019 &copy; SpectraPlot Ltd.
			</div>
		</div>
