<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Wavelength Search Details</h4>
      </div>
      <div class="modal-body">
      	<h3>The Basics</h3>
        <p>The Wavelength Search Engine<sub>beta</sub> presents hardware and optics relevant to your wavelength.</p>
        <p>As spectroscopists and scientists, we know that the photonics industry is fragmented and disjointed.  We're aiming to improve your ability to accomplish your science and engineering goals by making your hardware search easy and intuitive. </p>
        <p>If your favorite vendor doesn't show up in our search, please let us know, and we'll reach out to include them in our catalog!</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>