{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="/static/hardwareSearch.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54931830-1', 'auto');
  ga('send', 'pageview');
</script>
<body id="page-top" class="index">
{% include 'navigation.html' %}
{% include 'alerts.html' %}
{% include 'hardware_modal.html' %}  
	<section>
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div class="col-xs-3 col-xs-offset-1 text-left" style="margin-top:-5px;"><h4>Hardware Search</h4></div>
      </div>
      <div class="row col-xs-12">
        <div class="col-xs-2  text-left col-xs-offset-3">&lambda;<sub>start</sub> (&mu;m) = <input type=text size=5 name=lambdastart value=.5 tabindex=5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or</div>
        <div class="col-xs-3 text-left">&#957;<sub>start</sub> (cm<sup>-1</sup>) = <input type=text size=6 name=vstart value=2000 tabindex=3></div>
        <div class="col-xs-2 text-right"><button class="btn btn-danger" data-loading-text="Searching..." id="calculate">Search</button></div>                                    
      </div> <!-- end of the row of inputs, buttons, etc. -->
    
      <div class="row col-xs-12">
        <div class="col-xs-2 text-left col-xs-offset-3">&lambda;<sub>end</sub> (&mu;m) = <input type=text size=5 name=lambdaend value=3 tabindex=6></div>
        <div class="col-xs-3 text-left">&#957;<sub>end</sub> (cm<sup>-1</sup>) = <input type=text size=6 name=vend value=2100 tabindex=4></div>
        <div class="col-xs-2 text-center"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">How it works</button></div>
      </div> <!-- end of the second row of buttons-->
    
      <div class="row col-xs-12">           
        <div class="col-xs-2 col-xs-offset-8 text-center"></div>
      </div><!-- end of the third row of inputs, buttons, fields-->
    
    <!-- the horizontal ruler-->
      <div class="row col-xs-12">
        <div class="col-xs-12"><hr></div> 
      </div> <!-- row -->
    </div> <!-- container -->
  </section>  <!-- end of the top part - above the plot -->   
	<section>	
	<div class="container-fluid">
		<div class="row col-xs-12">
			{% include 'wavelengthTable.html' %}	
    </div>
	</div> <!-- row -->	
		{% include 'footer.html' %}		
	</div> <!-- container -->
	</section>
</body>



 
{% endblock %}
