<ul class="dropdown-menu nav disabled">
    <li>
    <b><u>HITRAN 2012</b></u>
        <div class="row" style="width: 400px;">
            <ul class="list-unstyled col-xs-4">
                <li><a class="hitran_species">CH<sub>3</sub>Cl</a></li>
                <li><a class="hitran_species">CH<sub>3</sub>CN</a></li>
                <li><a class="hitran_species">CH<sub>3</sub>OH</a></li>
               	<li><a class="hitran_species">CH<sub>4</sub></a></li>            	    	        	
	    	    <li><a class="hitran_species">CO</a></li>
        	    <li><a class="hitran_species">CO<sub>2</sub></a></li>
	    	    <li><a class="hitran_species">COF<sub>2</sub></a></li>
                <li><a class="hitran_species">C<sub>2</sub>H<sub>2</sub></a></li>
                <li><a class="hitran_species">C<sub>2</sub>H<sub>4</sub></a></li>
            	<li><a class="hitran_species">C<sub>2</sub>H<sub>6</sub></a></li>            	    	        	
            	<li><a class="hitran_species">ClO</a></li>	    
            </ul>     		    	                    		    	                    		    	                    	
        	<ul class="list-unstyled col-xs-4">     	            		
                <li><a class="hitran_species">HCOOH</a></li>            	    	        	
                <li><a class="hitran_species">HCN</a></li>                        	    	        	
                <li><a class="hitran_species">HBr</a></li>
            	<li><a class="hitran_species">HCl</a></li>            	    	        	
            	<li><a class="hitran_species">HF</a></li>
            	<li><a class="hitran_species">HI</a></li>            	    	        	
            	<li><a class="hitran_species">HNO<sub>3</sub></a></li>            	    	        	
            	<li><a class="hitran_species">HOBr</a></li>
            	<li><a class="hitran_species">HOCl</a></li>
            	<li><a class="hitran_species">H<sub>2</sub>O</a></li>
            	<li><a class="hitran_species">H<sub>2</sub>O<sub>2</sub></a></li>        	
            	<li><a class="hitran_species">H<sub>2</sub>CO</a></li>            	    	        	
            	<li><a class="hitran_species">H<sub>2</sub>S</a></li> 
            </ul>
    	    <ul class="list-unstyled col-xs-4">      	            		
			    <li><a class="hitran_species">NH<sub>3</sub></a></li>
	    	    <li><a class="hitran_species">NO</a></li>
	    	    <li><a class="hitran_species">NO<sub>2</sub></a></li>	    	                    	
                <li><a class="hitran_species">NO+</a></li>
	    	    <li><a class="hitran_species">N<sub>2</sub></a></li>	    	                    	
	    	    <li><a class="hitran_species">N<sub>2</sub>O</a></li>            	    	        	
	    	    <li><a class="hitran_species">O</a></li>            	    	        	
	    	    <li><a class="hitran_species">O<sub>2</sub></a></li>	    	                    		    	                    	
	    	    <li><a class="hitran_species">O<sub>3</sub></a></li>
            	<li><a class="hitran_species">OCS</a></li>              	
            	<li><a class="hitran_species">OH</a></li>
            	<li><a class="hitran_species">PH<sub>3</sub></a></li>   
            	<li><a class="hitran_species">SO<sub>2</sub></a></li>
            	<li><b><a class="hitran_species">None</a></b></li>            	    	        	      	                   	    	        		
            </ul>
        </div>
        <br>
		<b><u>HITEMP 2010</b></u><br>
		<h6>Note: HITEMP simulations take roughly 5 times longer than HITRAN simulations</h6>
		<div class="row" style="width: 400px;">
            <ul class="list-unstyled col-xs-4">
                <li><a class="hitran_species">CO<sub><span class="db" style="display:none"> HITEMP</span><sub></a></li>
                <li><a class="hitran_species">CO<sub>2</sub><sub><span class="db" style="display:none"> HITEMP</span><sub></a></li>            	    	        		
			</ul>
			<ul class="list-unstyled col-xs-4">
			    <li><a class="hitran_species">H<sub>2</sub>O<sub><span class="db" style="display:none"> HITEMP</span><sub></a></li>
			</ul>		
            <ul class="list-unstyled col-xs-4">
			    <li><a class="hitran_species">NO<sub><span class="db" style="display:none"> HITEMP</span><sub></a></li>	
				<li><a class="hitran_species">OH<sub><span class="db" style="display:none"> HITEMP</span><sub></a></li>             		            	    	        
                <li><b><a class="hitran_species">None</a></b></li>	
			</ul>
        </div>
    </li>
</ul>