










      <div role="tabpanel" class="tab-pane {% if request.cookies.get('DBpanel')=='hitran' %} active {% elif request.cookies.get('DBpanel')!='nist' %} active {% endif %}" id="hitran">
		    <div class="row col-xs-12">
          <div class="col-xs-11 text-center">
            <table align="center" class="FrontPanel" style="table-layout: fixed;">
              <tr class="spectable">
                <td style="width:170px;"></td>
                <td style="width:160px;">T (K) = <input type=text size=5 name="T_hitran" value=300 tabindex=1></td>
                <td style="width:190px">&lambda;<sub>start</sub> (&mu;m) = <input type=text size=5 name="lstart_hitran" value=2195 tabindex=4></td>
                <td style="text-align:center; width:20px;">or</td>
                <td style="width:190px">&#957;<sub>start</sub> (cm<sup>-1</sup>) = <input type=text size=5 name="vstart_hitran" value=2195 tabindex=6></td>
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="spec1_hitran"><span class="specspan" id="specspan1_hitran">CO</span><b class="caret"></b></a>
                        {% include 'hitran.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td style="width:175px;">&#967;<sub><span id="xspec1_hitran" class="specspan">CO</span></sub> = <input type=text size=5 name="xspecies1_hitran" value=1 tabindex=9></td>
                <td style="width:180px;"><button class="btn btn-danger" data-loading-text="Calculating..." id="calculate_hitran">Calculate</button></td>
              </tr>
              <tr class="spectable">
                <td></td>
                <td>P (atm) = <input type=text size=5 name="P_hitran" value=1 tabindex=2></td>
                <td>&lambda;<sub>end</sub> (&mu;m) = <input type=text size=5 name="lend_hitran" value=2220 tabindex=5></td>
                <td style="text-align:center">or</td>
                <td>&#957;<sub>end</sub> (cm<sup>-1</sup>) = <input type=text size=5 name="vend_hitran" value=2220 tabindex=7></td>
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="spec2_hitran"><span class="specspan" id="specspan2_hitran">Species</span><b class="caret"></b></a>
                        {% include 'hitran.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td>&#967;<sub><span id="xspec2_hitran" class="specspan">Species</span></sub> = <input type=text size=5 name="xspecies2_hitran" value=1 tabindex=10></td>
                <td style="width:200px;"><button class="btn btn-primary" id="clear">Clear plot</button></td>
              </tr>
              <tr class="spectable">
                <td colspan="3"></td>
                <td colspan="2">Include Isotopes?&nbsp;&nbsp;<input type="checkbox" name="isotopes"></td>
                
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="spec3_hitran"><span class="specspan" id="specspan3_hitran">Species</span><b class="caret"></b></a>
                        {% include 'hitran.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td>&#967;<sub><span id="xspec3_hitran" class="specspan">Species</span></sub> = <input type=text size=5 name="xspecies3_hitran" value=1 tabindex=12></td>
                <td style="width:200px;"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">How it works</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>