{% extends "layout.html" %}
{% block body %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54931830-1', 'auto');
  ga('send', 'pageview');
</script>

<style>
#bgnd {
    background: url(/static/splotBgnd.png);
    background-size: 1000px 600px;
    background-position: 36% -30px;
    z-index:-1;
    background-repeat: no-repeat;
}
</style>


<body id="page-top" class="index" style="margin:0px;width:100%;">
<!-- Modal -->



	<section>	
  <div id="bgnd">
	<div class="container-fluid" align="center" style="padding-left: 0px;padding-right: 0px;">
  <div class="row col-xs-12">
      <div class="col-xs-12" align="right">
      <!--<a style="color: #171c68;" href="#about" data-target="#about" data-toggle="modal">About</a>-->
      </div>
  </div>
  <div id="header" style="background-color:#171c68;
                          float:left;padding:0px;width:100%;
                          margin-top:75px;line-height:2.5em;">
		<table align="center" height="125px">
      <tr>
      <td width="5%">
      </td>
      <td width="55%">
        <span align="right" style="color: #ffffff; font-size:30pt;line-height:1em;"><b>Spectra</b>Plot</span>
      </td>
      <td width="10px">
      <span style="line-height:1.2em;border-left: thin solid #ffffff;margin-left:6px;margin-right:-3px;font-size:30pt;">&nbsp;</span>
      </td>
      <td width"45%">
        <span style="color: #ffffff; font-size:12pt;"><p style="line-height:6px;margin-top:3px;">the wavelength</p><p style="line-height:6px;">search engine</p></span>
      </td>
      <td width="5%" align="right" valign="bottom">
        <!--<span align="right" style="font-size:10pt; color:#ffffff;line-height:2em;">by <a href="http://www.lumina-labs.com" target="_blank" style="color:#ffffff;">Lumina Labs</a></span>-->
      </td>
      
    
    </tr>
    </table>   
 </div>
    
    <div class="row col-xs-12 text-center" style="margin:-18px 0px 20px 0px;" >
      <div class="col-xs-12">&nbsp;></div>
    </div>

    <table align="center">
    <tr>
      <td width="125px" align="center" valign="top">
        <a href="/absorption" style="color: #171c68;font-size:12pt;font-weight:bold;">Atomic/Molec. Absorption</a>
	    </td>
	    <td width="125px" align="center" valign="top">
       <a href="/emission" style="color: #171c68;font-size:12pt;font-weight:bold;">Atomic/Molec. Emission</a>
      </td>      
      <td width="125px" align="center" valign="top">
        <a href="/survey" style="color: #171c68;font-size:12pt;font-weight:bold;">Linestrength Survey</a>
      </td>
      <td width="125px" align="center" valign="top">
        <a href="/blackbody" style="color: #171c68;font-size:12pt;font-weight:bold;">Blackbody Emission</a>
      </td>
      <td width="125px" align="center" valign="top">
        <a href="/hardware" style="color: #171c68;font-size:12pt;font-weight:bold;">Hardware Search</a>
      </td>
    </tr>
    <tr>
      <td colspan="5" align="center">
        <p><br><span style="font-size:12pt;font-weight:bold;color: #ff0000;">Check out our recently published paper in <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">JQSRT</a> or on <a href="https://arxiv.org/abs/1709.06220" target="_blank">arXiv</a></span></p>
      </td>
    </tr>

    <tr>
      <td colspan="5" align="center">
        <p><br><span style="font-size:12pt;font-weight:bold;color: #000;">Apologies for the recent SpectraPlot outages - we're working to improve reliability and up time</span></p>
      </td>
    </tr>

    </table>
    


    <div class="row col-xs-12 text-center"  style="margin:30px 0px 0px 0px;" >
      <div class="col-xs-12"><!--<hr>-->&nbsp;</div>
    </div>
    
    <div class="row col-xs-12 text-center" style="margin:0px;margin-bottom:180px;" >
      <div class="col col-xs-12 text-center">&nbsp;
      </div>
    </div>

<div class="row col-xs-12 text-center" style="margin:5px 0px 0px 0px;">
      <div class="col-xs-12">&nbsp;
    </div>
</div>

<div class="row col-xs-12" style="margin:-18px 0px 20px 0px;">
  <table align="center">
  <tr>
    <td colspan="5" width="300px" align="left">
      Sponsored by:
    </td>
    
    <td rowspan="2" width="10px" style="border-left: thin solid #000000;margin-left:6px;margin-right:-3px;font-size:30pt;">
      
    </td>
    
    <td colspan="5" align="left">
      In collaboration with:
    </td>
  </tr>
  <tr>
    <td valign="middle" colspan="5">   
    <a href="http://bit.ly/2snaPlA" target="_blank"><img src="/static/logos/Eblana_Logo_200x66.png" width="125px"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;
     <a href="http://www.hamamatsu.com/us/en/index.html" target="_blank"><img src="/static/logos/hama_logo_200x200.png" width="125px"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;
     <a href="http://www.mirsense.com/" target="_blank"><img src="/static/logos/Logo_Mirsense_vectoriel_quadri_fond transparent_small.png" width="125px"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;
     <a href="https://www.norcada.com/lasers/" target="_blank"><img src="/static/logos/Norcada Logo_2016.jpg" width="125px"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;
     <a href="http://www.sacher-laser.com" target="_blank"><img src="/static/logos/SacherLogo.jpg" width="125px"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    
    <td valign="middle" colspan="5">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.seekops.com/" target="_blank"><img src="/static/logos/LOGO FINAL SEEKOPS.png" width="80px"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.mirthe-erc.org/mirthecenter/" target="_blank"><img src="/static/logos/MIRTHE_round logo.JPG" width="80px"></a>
        
    </td>
    
    
  </tr>
  </table>
</div>
    <!--<div class="row col-xs-12 text-left" style="margin:0px;">
      <div class="col col-xs-6 col-xs-offset-3">
      <h5 align="center">SpectraPlot thanks <a href="http://www.nanoplus.com">NanoPlus</a> for being the first industry sponsor to support the continued development of our free online tools for the spectroscopy community!</h5>
      </div>
    </div>-->
		
			{% include 'footer.html' %}		
      {% include 'terms.html' %}   
	</div> <!-- container -->

	</section>
  </div>
</body>



 
{% endblock %}
