<!doctype html>
<head>
<meta charset="utf-8">

	{% if request.path=="/" %}

		<meta name="Description" content="A free and openly available suite of tools to simulate atomic and molecular absorption, emission, and blackbody emission spectra using the HITRAN, HITEMP, and NIST databases.  We also actively search hardware catalogs for lasers, detectors, and other optics to help you find exactly what you're looking for.">

		<title>SpectraPlot.com - the wavelength search engine for spectroscopists</title>
	{% endif %}

	{% if request.path=="/absorption" %}
		<meta name="Description" content="Atomic and molecular spectral absorption simulator that uses the HITRAN, HITEMP, and NIST databases!  Easily simulate your favorite molecules while finding the hardware you need to do your experiments.">
		<title>SpectraPlot.com - Absorption spectroscopy simulator</title>
	{% endif %}

	{% if request.path=="/emission" %}
		<meta name="Description" content="Atomic and molecular spectral emission simulator that uses the HITRAN, HITEMP, and NIST databases!  Easily simulate your favorite molecules while finding the hardware you need to do your experiments.">
		<title>SpectraPlot.com - Emission spectroscopy simulator</title>
	{% endif %}

	{% if request.path=="/survey" %}
		<meta name="Description" content="Quickly and easily conduct molecular and atomic linestrength surveys of the HITRAN, HITEMP, and NIST databases!  Easily simulate your favorite molecules while finding the hardware you need to do your experiments.">
		<title>SpectraPlot.com - Spectroscopic Linestrength survey</title>
	{% endif %}

	{% if request.path=="/blackbody" %}
		<meta name="Description" content="Calculate and visualize blackbody emission curves a specific tempearture and emissivity - and easily determine the integrated and point spectral radiace!  All while finding the optical filters and detectors to do your experiment!">
		<title>SpectraPlot.com - Blackbody emission simulator</title>
	{% endif %}

	{% if request.path=="/hardware" %}
		<meta name="Description" content="A dynamic wavelength-based hardware search for optics, lasers, detectors, mirrors, fibers, and materials!">
		<title>SpectraPlot.com - Optical hardware search</title>
	{% endif %}
</head>



<!-- load style sheets-->
<link href="/static/bootstrap.css" rel="stylesheet">		<!-- bootstrap -->
<link href="/static/plotting.css" rel="stylesheet">			<!-- d3 plot styles -->
<link href="/static/spectraplot.css" rel="stylesheet">    	<!-- splot specific styles -->
<link href="/static/theme.default.css" rel="stylesheet">  	<!-- for table sorter -->

<!-- load some javascript-->
<script src="/static/jquery-1.11.1.min.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script src="/static/d3.v3.js"></script>
<script type=text/javascript src="/static/bootstrap.js"></script>
<script type=text/javascript src="/static/buildTables.js"></script>
<script type=text/javascript src="/static/jquery.tablesorter.min.js"></script>
<script type=text/javascript src="/static/jquery.tablesorter.widgets.min.js"></script>
<script type=text/javascript src="/static/saveSvgAsPng.js?nist"></script>			<!-- saving png -->
<script type=text/javascript src="/static/displayIntroGroup.js?nist"></script>		<!-- for d3 intro plot -->
<!--<script type=text/javascript src="http://l2.io/ip.js?var=myip"></script>-->
<!-- gets the user's ip -->


<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% block body %}{% endblock %}
