  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding: 15px 35px;" href="/"><b>Spectra</b>Plot</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          	<li {% if request.path=="/absorption" %} class="active" {% endif %}><a href="/absorption">Absorption 
          	<span class="sr-only"> {% if request.path=="/absorption" %} (current) {% endif %} </span></a></li>
          
          	<li {% if request.path=="/emission" %} class="active" {% endif %}><a href="/emission">Emission 
          	<span class="sr-only">{% if request.path=="/emission" %} (current) {% endif %}</span></a></li> 
          
          	<li {% if request.path=="/survey" %} class="active" {% endif %}><a href="/survey">LineSurvey 
          	<span class="sr-only">{% if request.path=="/survey" %} (current) {% endif %}</span></a></li>
          
            <li {% if request.path=="/blackbody" %} class="active" {% endif %}><a href="/blackbody">BlackBody 
            <span class="sr-only">{% if request.path=="/blackbody" %} (current) {% endif %}</span></a></li>

            <li {% if request.path=="/hardware" %} class="active" {% endif %}><a href="/hardware">Hardware 
            <span class="sr-only">{% if request.path=="/hardware" %} (current) {% endif %}</span></a></li>
		    </ul>
      </div>      
    </div>
  </nav>