
<ul class="dropdown-menu nav disabled">
    <li>
    <b><u>NIST Atomic Spectra Database </b></u>
        <div class="row" style="width: 440px;">
        
            <ul class="list-unstyled col-xs-4">
            Ionization State:
            <span class="nist_ion">
            <table style="width: 400px;" class="nistTable ionstate" align="center">
            <tr><td><button class="btn btn-default active" id="ground" style="width:40px;">X</button>
            <button class="btn btn-default" id="plus1" style="width:40px;">X<sup>+</sup></button>
            <button class="btn btn-default" id="plus2" style="width:40px;">X<sup>2+</sup></button></td>
            </tr>
            </table>
            </span>
                
            <table style="width: 400px;" class="nistTable" align="center">
                <tr><td colspan="18"><hr></td></tr>
                <tr>
                    <td><a class="nist_species">H</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="nist_species">He</a></td>
                </tr>
                <tr>
                    <td><a class="nist_species">Li</a></td>
                    <td><a class="nist_species">Be</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="nist_species">B</a></td>
                    <td><a class="nist_species">C</a></td>
                    <td><a class="nist_species">N</a></td>
                    <td><a class="nist_species">O</a></td>
                    <td><a class="nist_species">F</a></td>
                    <td><a class="nist_species">Ne</a></td>
                </tr>
                <tr>
                    <td><a class="nist_species">Na</a></td>
                    <td><a class="nist_species">Mg</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="nist_species">Al</a></td>
                    <td><a class="nist_species">Si</a></td>
                    <td><a class="nist_species">P</a></td>
                    <td><a class="nist_species">S</a></td>
                    <td><a class="nist_species">Cl</a></td>
                    <td><a class="nist_species">Ar</a></td>
                </tr>
                <tr>
                    <td><a class="nist_species">K</a></td>
                    <td><a class="nist_species">Ca</a></td>
                    <td><a class="nist_species">Sc</a></td>
                    <td><a class="nist_species">Ti</a></td>
                    <td><a class="nist_species">V</a></td>
                    <td><a class="nist_species">Cr</a></td>
                    <td><a class="nist_species">Mn</a></td>
                    <td><a class="nist_species">Fe</a></td>
                    <td><a class="nist_species">Co</a></td>
                    <td><a class="nist_species">Ni</a></td>
                    <td><a class="nist_species">Cu</a></td>
                    <td><a class="nist_species">Zn</a></td>
                    <td><a class="nist_species">Ga</a></td>
                    <td><a class="nist_species">Ge</a></td>
                    <td>As</td>
                    <td>Se</td>
                    <td><a class="nist_species">Br</a></td>
                    <td><a class="nist_species">Kr</a></td>
                </tr>
                <tr>
                    <td><a class="nist_species">Rb</a></td>
                    <td><a class="nist_species">Sr</a></td>
                    <td><a class="nist_species">Y</a></td>
                    <td><a class="nist_species">Zr</a></td>
                    <td>Nb</td>
                    <td><a class="nist_species">Mo</a></td>
                    <td><a class="nist_species">Tc</a></td>
                    <td><a class="nist_species">Ru</a></td>
                    <td><a class="nist_species">Rh</a></td>
                    <td><a class="nist_species">Pd</a></td>
                    <td><a class="nist_species">Ag</a></td>
                    <td><a class="nist_species">Cd</a></td>
                    <td><a class="nist_species">In</a></td>
                    <td><a class="nist_species">Sn</a></td>
                    <td><a class="nist_species">Sb</a></td>
                    <td><a class="nist_species">Te</a></td>
                    <td><a class="nist_species">I</a></td>
                    <td><a class="nist_species">Xe</a></td>
                </tr>
                <tr>
                    <td><a class="nist_species">Cs</a></td>
                    <td><a class="nist_species">Ba</a></td>
                    <td><a class="nist_species">Lu</a></td>
                    <td><a class="nist_species">Hf</a></td>
                    <td><a class="nist_species">Ta</a></td>
                    <td><a class="nist_species">W</a></td>
                    <td>Re</td>
                    <td>Os</td>
                    <td><a class="nist_species">Ir</a></td>
                    <td>Pt</td>
                    <td><a class="nist_species">Au</a></td>
                    <td><a class="nist_species">Hg</a></td>
                    <td><a class="nist_species">Tl</a></td>
                    <td><a class="nist_species">Pb</a></td>
                    <td><a class="nist_species">Bi</a></td>
                    <td><a class="nist_species">Po</a></td>
                    <td><a class="nist_species">At</a></td>
                    <td><a class="nist_species">Rn</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>La</td>
                    <td>Ce</td>
                    <td>Pr</td>
                    <td><a class="nist_species">Nd</a></td>
                    <td><a class="nist_species">Pm</a></td>
                    <td><a class="nist_species">Sm</a></td>
                    <td><a class="nist_species">Eu</a></td>
                    <td><a class="nist_species">Gd</a></td>
                    <td><a class="nist_species">Tb</a></td>
                    <td><a class="nist_species">Dy</a></td>
                    <td><a class="nist_species">Ho</a></td>
                    <td><a class="nist_species">Er</a></td>
                    <td><a class="nist_species">Tm</a></td>
                    <td><a class="nist_species">Yb</a></td>
                    <td><a class="nist_species">Lu</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Ac</td>
                    <td>Th</td>
                    <td>Pa</td>
                    <td>U</td>
                    <td>Np</td>
                    <td>Pu</td>
                    <td>Am</td>
                    <td>Cm</td>
                    <td>Bk</td>
                    <td>Cf</td>
                    <td>Es</td>
                    <td>Fm</td>
                    <td>Md</td>
                    <td>No</td>
                    <td>Lr</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><a class="nist_species">None</a></td>
                </tr>
            </table>
            </ul>
            <!--</ul>     		    	                    		    	                    		    	                    	
        	<ul class="list-unstyled col-xs-4">     	            		
                <li>O</li>            	    	        	
            </ul>
    	    <ul class="list-unstyled col-xs-4">      	            		
			    <li>He</li>        	    	        	      	                   	    	        		
            </ul>-->
        </div>
    </li>
</ul>
