

      <div role="tabpanel" class="tab-pane {% if request.cookies.get('DBpanel')=='nist' %} active {% endif %}" id="nist">
		    <div class="row col-xs-12">
          <div class="col-xs-11 text-center">
            <table align="center" class="FrontPanel" style="table-layout: fixed;">
              <tr class="spectable">
                <td style="width:170px;"></td>
                <td style="width:170px;">T<sub>elec</sub> (K) = <input type=text size=5 name="Telec_nist" value=10000 tabindex=1></td>
                <td style="width:190px;">&lambda;<sub>start</sub> (&mu;m) = <input type=text size=5 name="lstart_nist" value=.2 tabindex=4></td>
                <td style="text-align:center; width:20px;">or</td>
                <td style="width:190px">&#957;<sub>start</sub> (cm<sup>-1</sup>) = <input type=text size=5 name="vstart_nist" value=50000 tabindex=6></td>
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="spec1_nist"><span class="specspan" id="specspan1_nist">Na</span></span><b class="caret"></b></a>
                        {% include 'nist.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td style="width:175px;">&#967;<sub><span id="xspec1_nist" class="specspan">Na</span></sub> = <input type=text size=5 name="xspecies1_nist" value=1 tabindex=9></td>
                
                <td style="width:180px;"><button class="btn btn-danger" data-loading-text="Calculating..." id="calculate_nist">Calculate</button></td>
              </tr>
              <tr class="spectable">
                <td></td>
                <td></td>
                <td>&lambda;<sub>end</sub> (&mu;m) = <input type=text size=5 name="lend_nist" value=.7 tabindex=5></td>
                <td style="text-align:center">or</td>
                <td>&#957;<sub>end</sub> (cm<sup>-1</sup>) = <input type=text size=5 name="vend_nist" value=14285 tabindex=7></td>
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="spec2_nist"><span class="specspan" id="specspan2_nist">Species</span><b class="caret"></b></a>
                        {% include 'nist.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td style="width:150px;">&#967;<sub><span id="xspec2_nist" class="specspan">Species</span></sub> = <input type=text size=5 name="xspecies2_nist" value=1 tabindex=10></td>
                <td><button class="btn btn-primary" id="clear">Clear plot</button></td>
              </tr>
              <tr class="spectable">
                <td colspan="3"></td>
                <td></td>
                <td></td>
                <td style="width:100px;text-align:center">
                  <div class="btn-group">
                    <ul id="multicol-menu" class="nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="spec3_nist"><span class="specspan" id="specspan3_nist">Species</span><b class="caret"></b></a>
                        {% include 'nist.html'%}
                      </li>
                    </ul>
                  </div>
                </td>
                <td style="width:150px;">&#967;<sub><span id="xspec3_nist" class="specspan">Species</span></sub> = <input type=text size=5 name="xspecies3_nist" value=1 tabindex=11></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#nistModal">How it works</button></td>
              </tr>
            </table>
          </div>
        </div> <!-- end of the row of inputs, buttons, etc. -->
      </div>