<div class="modal fade" id="nistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
      <span style="font-size:14pt;font-weight:bold;color: #ff0000;">For more details, check out <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">our paper</a> in JQSRT.</span>
        <h3>The Basics</h3>
        <p>This simulator plots linestrength as a function of temperature. </p>
        <p>You can run up to 3 simulations, each with 3 species (for a total of 9), before you must clear the plot.</p>
        <p>Up to 15000 lines will be plotted for each species in each simulation. If more than 15000 lines are returned, reduce your search window or increase your minimum linestrength.</p>
        <p>All wavelengths and frequencies correspond to vacuum values.</p>
        <p>Use the left and right arrows to jump to the next line. The center frequency ν<sub>o</sub>, linestrength S, and lower- and upper-state energies E'' and E', and degeneracies are displayed in the top left</p>
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
       
        <h3>The Details</h3>
        <p>Linestrengths are given in units of cm<sup>-2</sup>/atm such that α(ν) = S(T)*P*χ<sub>abs</sub>*L*φ(ν) where P is the total pressure of the gas in atm, χ<sub>abs</sub> is the absorbing species mole fraction, L is the path length in cm, and φ is the lineshape function in cm.</p>
        <p>To convert cm<sup>-2</sup>/atm to HITRAN units (cm<sup>-1</sup>/molecule-cm<sup>2</sup>), multiply by T/7.34e-21 with temperature in K.</p>
        <p>For NIST ASD simulations, the linestrength of each transition is calculated according to the Einstein-A coefficient given by NIST, the degeneracies of the lower- and upper electronic states given by NIST, and the user-specified electronic and kinetic temperatures. The location of transitions without Einstein-A coefficients in NIST’s ASD are displayed in the Survey, but there linestrength is indicated (in the top left) as 0.</p>
        <p>If either the upper or lower state degeneracy (but not both) of a transition are not given in NIST’s ASD, the missing value is assigned its given counterpart. </p>
        <p>Please consult the <a href="http://www.nist.gov/pml/data/asd.cfm" target="_blank">NIST ASD website</a> for proper bibliographic sources and references.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>