<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
      </div>
      <div class="modal-body">
      <span style="font-size:14pt;font-weight:bold;color: #ff0000;">For more details, check out <a href="http://www.sciencedirect.com/science/article/pii/S0022407317302996" target="_blank">our paper</a> in JQSRT.</span>
        <h3>The Basics</h3>
        <p>This simulator plots linestrength as a function of temperature, including any air-induced pressure shift.</p>
        <p>You can run up to 3 simulations, each with 3 species (for a total of 9), before you must clear the plot.</p>
        <p>Up to 10000 lines will be plotted for each species in each simulation.  If more than 10000 lines are returned, reduce your search window or increase your minimum linestrength.</p>
        <p>Use the left and right arrows to jump to the next line.  The center frequency &#957;<subo<s/ub>, linestrength S, and E'' are displayed in the top left</p> 
        <p>Please don't hesitate to get in touch using the 'Contact' link in the bottom right!</p>
        
        <h3>The Details</h3>
        <p>Linestrengths are given in units of cm<sup>-2</sup>/atm such that &alpha;(&#957;) = S(T)*P*&#967;<sub>abs</sub>*L*&phi;(&#957;) where P is the total pressure of the gas in atm, &#967;<sub>abs</sub> is the absorbing species mole fraction, L is the path length in cm, and &phi; is the lineshape function in cm.</p>
        <p>To convert cm<sup>-2</sup>/atm to HITRAN units (cm<sup>-1</sup>/molecule-cm<sup>2</sup>), multiply by T/7.34e-21 with temperature in K.</p>
        
        <p>The frequency of each transition is calculated at the specified temperature and pressure using the air-pressure-shift coefficients given in HITRAN or HITEMP at 296 K.</p>
        <p>Therefore, this calculation is performed assuming the absorbing species is dilute in air.</p>
        <p>The air-pressure-shift coefficients are estimated at the specified temperature using the power-law relationship with a temperature exponent of 0.96.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">Got it</button></div>
      </div>
    </div>
  </div>
</div>