<div class="modal fade" id="TOS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
      </div>
      <div class="modal-body">
        <p align="left">This website (including all content and functions made available on or accessed through this site) is provided on an "as is" basis. While every effort has been made to ensure the accuracy of the information provided on this website, the information may contain errors, including technical or typographical errors. Use of information contained herein is at the user's risk. Information is subject to change or updating without notice. The products and/or the services described may be altered at any time, also without notice. Please contact SpectraPlot for the latest information.  Please be aware that SpectraPlot may not use or have registered some of the aforementioned marks in other countries.</p>
        <p align="left">It is entirely the user's responsibility to take precautions to be certain that any material taken from this website is free of viruses, worms, Trojan horses or other harmful or potentially harmful items. SpectraPlot DISCLAIMS ALL LIABILITY TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES IN CONNECTION WITH ANY USE OF THIS WEBSITE, OR ANY HYPER-LINKED OR OTHER ACCESSIBLE WEB SITE, INCLUDING, WITHOUT LIMITATION, ALL LOST PROFITS, DAMAGES FROM BUSINESS INTERRUPTION, AND LOSS OF PROGRAMS OR OTHER DATA, REGARDLESS OF WHETHER WE ARE EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OCCURRING.</p>
      </div>
      <div class="modal-footer">
        <div class="col-xs-3 col-xs-offset-9"><button type="button" class="btn btn-default" data-dismiss="modal">OK</button></div>
      </div>
    </div>
  </div>
</div>