{% extends "layout.html" %}
{% block body %}
<body id="page-top" class="index">
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">SpectraPlot Contact</h4>
      </div>
      <div class="modal-body text-center">
      <iframe src="https://docs.google.com/forms/d/14NoSj-F0s2qBXNy-1z9fepdPsMJs47ZYivNRGmE55oI/viewform?embedded=true" width="550" height="717" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert" id="alertDiv">
  <button type="button" class="close" onclick="$('#alertDiv').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Your inventory list was uploaded!</strong>  We'll update our database as soon as we can.
</div>
       
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.spectraplot.com" style="padding: 15px 5px;"><b>Spectra</b>Plot</a>
                <a class="navbar-brand" href="http://www.lumina-labs.com" target="_blank"><sub style="font-size:10pt;">by LuminaLabs</sub></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                	<li class="active"><a href="/vendor">Vendor Upload Area <span class="sr-only">current</span></a></li>
				</ul>
                <ul class="nav navbar-nav navbar-right">
					<li class="page-scroll">
                        <!-- Button trigger modal -->
						<a href="#feedback" data-target="#feedback" data-toggle="modal">Contact</a>                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<div class="container">
      <div class="header">
        <h3>Vendor product listing/inventory update</h3>
        
        <p>Please download the inventory/product listing template by clicking the link below</p>
        <p><a href="/static/Hardware_Inventory_Template_2015.xlsx" download>Product listing/Inventory template</a></p>
        <p>Fill in the template with your most up to date inventory, and save the file with a new name that includes your company name.</p>
        <p>Then, upload your product listing/inventory to our server as a .xlsx, .xls, or .csv file using the uploader below.</p>
        <p>We'll check it out and update our database as soon as possible.</p>
        <p>If you have any questions, feel free to use the contact button in the upper right or email us at <a href="mailto:info@spectraplot.com">info@spectraplot.com</a></p>
      </div>
      <hr/>
      <div>
      <h3>File Uploader</h3>
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"> <br>
        <input type="submit" value="Upload" class="btn btn-primary" style="width:100px;">
      </form>
      </div>
    </div>



	<section>	
	<div class="container-fluid">
			{% include 'footer.html' %}		
	</div> <!-- container -->
	</section>
</body>

{% endblock %}
 