			{% if request.path=="/hardware" %}
			<div class="col-lg-10 col-lg-offset-1" style="max-width: 1100px;" align="left"> 
			{% else %}
			<div class="col-lg-4" style="max-width: 900px;"> <!-- col-xs-offset-1">-->
			<h4>Hardware Search<sub> beta</sub></h4>
			{% endif %}

			<!--<div class="panel panel-primary">-->
				<div role="tabpanel">
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist" id="myTab">
				    	<li role="presentation" {% if request.path=="/absorption" or request.path=="/survey" or request.path=="/hardware" %} class="active" {% endif %}>
				    		<a href="#lasers" aria-controls="lasers" role="tab" data-toggle="tab" onclick="trackTableClick('lasers')">Light Sources</a>
				    	</li>
    					<li role="presentation" {% if request.path=="/emission" %} class="active" {% endif %}>
    						<a href="#detectors"  aria-controls="detectors" role="tab" data-toggle="tab" onclick="trackTableClick('detectors')">Detectors</a>
    					</li>
    					<li role="presentation"><a href="#optics" aria-controls="optics" role="tab" data-toggle="tab" onclick="trackTableClick('optics/materials')">Materials</a></li>
    					<li role="presentation" {% if request.path=="/blackbody" %} class="active" {% endif %}>
    						<a href="#filters"  aria-controls="filters" role="tab" data-toggle="tab" onclick="trackTableClick('filters')">Filters</a>
    					</li>
    					<li role="presentation">
    						<a href="#fibers"  aria-controls="fibers" role="tab" data-toggle="tab" onclick="trackTableClick('fibers')">Fibers</a>
    					</li>
    					<li role="presentation">
    						<a href="#mirrors"  aria-controls="mirrors" role="tab" data-toggle="tab" onclick="trackTableClick('mirrors')">Mirrors</a>
    					</li>
	  				</ul>

  				  <!-- Tab panes -->
  					<div class="tab-content">
    					<div role="tabpanel" class="tab-pane {% if request.path=='/absorption' or request.path=='/survey' or request.path=='/hardware' %} active {% endif %}" id="lasers">
    						<div class="panel panel-default">
								<div id="laserTable" class="lasersWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">
									<table class="table">										
										<thead>
											<tr><th align="center" width="17%">Vendor</th>
											<th align="center" width="17%">Type</th>
											<th align="center" width="27.5%">Center Wavenumber (cm<sup>-1</sup>)</th>
											<th align="center" width="10%">&Delta;&nu;<br>(cm<sup>-1</sup>)</th>
											<th align="center" width="15%">Power (mW)</th>
											<th align="center" width="12%">Linewidth (MHz)</th></tr>
										</thead>
										<tbody>
											<tr><td align="center" colspan=6>Specific light sources will appear here!</td></tr>
										</tbody>
  									</table>
	  							</div>
  							</div>
  						</div>
  						
    					<div role="tabpanel" class="tab-pane {% if request.path=='/emission'%} active {% endif %}" id="detectors">
    						<div class="panel panel-default">
    							<div id="detectorTable" class="detectorsWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">
					  				<table class="table">	
					  					<thead>
											<tr><th align="center" width="20%">Vendor</th>
											<th align="center" width="20%">Material</th>
											<th align="center" width="20%">Control</th>
											<th align="center" width="20%">D<sup>*</sup> Range</th>
											<th align="center">&Delta;&nu; (&mu;m)</th></tr>
										</thead>
										<tbody>
											<tr><td align="center" colspan=5>Relevant detectors will appear here!</td></tr>
										</tbody>
  									</table>
	  							</div>
  							</div>
    					</div>
    						
	    				<div role="tabpanel" class="tab-pane" id="optics">
	    					<div class="panel panel-default">
					  			<div id="opticsTable" class="opticsWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">	
					  				<table class="table">
					  				<thead>
										<tr><th align="center" width="20%">Material</th>
										<th align="center" width="20%">Transmission Range (&mu;m)</th>
										<th align="center" width="20%">Index of Refraction</th>
										<th align="center" width="20%">Modulus of Rupture</th>
										<th align="center" width="20%">Melting Temp (<sup>&#9675;</sup>C)</th></tr>
									</thead>
									<tbody>
										<tr><td align="center" colspan=5>Relevant optical materials will appear here!</td></tr>
									</tbody>
  								</table>
  								</div>
	  						</div>
  						</div>
  							
    					<div role="tabpanel" class="tab-pane {% if request.path=='/blackbody'%} active {% endif %}" id="filters">
    						<div class="panel panel-default">
					  			<div id="filtersTable" class="filtersWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">	
					  				<table class="table">					  				
					  				<thead>
										<tr><th align="center" width="20%">Vendor</th>
										<th align="center" width="20%">Pass band (nm)</th>
										<th align="center" width="20%">Size (mm)</th>
										<th align="center" width="20%">Substrate</th>
										<th align="center" width="20%">Peak Transmission (%)</th></tr>
									</thead>
									<tbody>
										<tr><td align="center" colspan=5>Relevant filters will appear here!</td></tr>
									</tbody>
  								</table>
  								</div>
  							</div>
    					</div>  
    					
    					<div role="tabpanel" class="tab-pane" id="fibers">
    						<div class="panel panel-default">
    							<div id="fibersTable" class="fibersWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">	
					  				<table class="table">
					  					<thead>
											<tr><th align="center" width="20%">Vendor</th>
											<th align="center" width="15%">Material</th>
											<th align="center" width="15%">Mode</th>
											<th align="center" width="30%">Core Diameter (&mu;m)</th>
											<th align="center" width="20%">Wavelength range (&mu;m)</th></tr>
										</thead>
										<tbody>
											<tr><td align="center" colspan=5>Relevant fibers will appear here!</td></tr>
										</tbody>
  									</table>
	  							</div>
  							</div>
    					</div>
    						
						<div role="tabpanel" class="tab-pane" id="mirrors">
    						<div class="panel panel-default">
    							<div id="mirrorsTable" class="mirrorsWrapper" style="max-height: 350px; overflow-y: scroll; position: relative; padding: 0 5px;">	
					  				<table class="table">
					  					<thead>
											<tr><th align="center" width="15%">Vendor</th>
											<th align="center" width="20%">Reflectivity (%)</th>
											<th align="center" width="20%">Wavelength range (nm)</th>
											<th align="center" width="25%">Radius of curvature (m)</th>
											<th align="center" width="20%">Diameter (in) </th></tr>
										</thead>
										<tbody>
											<tr><td align="center" colspan=5>Relevant dielectric mirrors will appear here!</td></tr>
										</tbody>
  									</table>
	  							</div>
  							</div>
    					</div>  							
	    				
	    			</div>
				  </div>
			</div>
			{% if request.path=="/hardware" %}
			<div class="col-lg-10 col-lg-offset-1" style="max-width: 1100px;">
			{% else %}
			<div class="col-lg-4" style="max-width: 900px;">
			{% endif %}
				Favorite vendor not included?  Please <a href="mailto:info@spectraplot.com">let us know</a>
				<h6>UV and Vis hardware coming soon</h6>
			</div>